.campo {
  background-color: #90ee90;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  position: relative;
  border: 2px solid white;
}
.equipo-a,
.equipo-b {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
.jugador {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.equipo-a .jugador {
  background-color: #ff0000;
}
.equipo-b .jugador {
  background-color: #0000ff;
}
